*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body, input, button{
    font-family: 'Poppins', sans-serif;
  
  }
  
  body {
    background: #E5E5E5;
  }
  
  body::before {
    content: '';
    width: 100%;
    height: 368px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(68, 6, 68);
    z-index: -1;
  }
  
  .page {
    width: 736px;
    margin: auto;
  }

  .main {
    animation: downtop 700ms 350ms backwards;
  }
  
  header h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 42px;
    color: white;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
  }
  
  header p {
    font-size: 16px;
    line-height: 26px;
  
    color: #42D3FF;
  }
  
  main {
    background: #FAFAFC;
    margin-top: 38px;
    border-radius: 8px 8px 0 0;
    min-height: 300px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
  section {
    border: none;
  }
  
  .fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  section legend, p {
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E6F0;
    text-align: center;
  }
  
  p {
    color: #1081a3;
    text-transform: uppercase;
    font-size: 50px;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-wrapper input {
    background: #FAFAFC;
    height: 56px;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 16px;
    line-height: 26px;
    color: #6c6a71;
  }
  
  footer {
    background-color: #F6F6F4;
    height: 136px;
    display: flex;
    flex-direction: column;
    padding: 40px 64px;
    margin-bottom: 100px;
    border-top: 1px solid #D6D6D6;
  }
  
  footer .buttons {
    height: 56px;
    background-color: rgb(221, 221, 3);
    border-radius: 8px;
    border: none;
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
  }
  
  footer .buttons:hover{
    background-color: rgb(173, 173, 68);
  }

  input[type="file"] {
    display: none;
}
label {
    padding: 20px 10px;
    width: 200px;
    background-color: rgb(68, 6, 68);
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
}

label:hover {
  background-color: rgb(173, 13, 173);
}

span {
  margin-top: 20px;
}

h1 #pod {
  color: yellow;
  text-shadow: 0.1em 0.1em 0.1em rgba(89, 0, 253, 0.411);
}

#vir {
  color: orange;
  text-shadow: 0.1em 0.1em 0.1em rgba(89, 0, 253, 0.411);
}

#sorteado {
  animation: winner 300ms infinite;
}

header {
  animation: topdown 700ms;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes winner {
  0% {
    opacity: 0;
  }
  50%{
    color: purple;
  }
  100% {
    opacity: 1;
  }
}